body{
      font-family: Arial, Helvetica, sans-serif;
      background-color: antiquewhite;
}

#signin{
    width:30%;
    display: flex;
    justify-content: space-between;
}
#add{
    width:55%;
    height: auto;
  border-radius: 5px;
    color:green;
    margin: auto;  
    margin-top: 20px;
    margin-bottom: 20px; 
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#add h1{
    padding:15px;
    text-align: center;
}
#form{
    width:90%;
    margin: auto;
    margin-bottom: 30px;
    padding:20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
#form div{
    
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    padding:10px;
    
}
#form input{
    margin: auto;
    width:250px;
    height:30px;
}
#form select{
    margin: auto;
    width:260px;
    height:35px;
}
#form label{
    width:150px;
    height:30px;
}
#addbut{
    margin: auto;
  height: 60px;
    width:250px;
    font-size: 30px;
    font-weight: 700;
    color:white;    
    background-color: rgb(84, 61, 19);
    border: rgb(84, 61, 19);
   border-radius: 5px;
}
#sort_filter{
    width:90%;
    display: flex;
    margin: auto;
    height: 100px;
}



#container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 95%;
    margin: auto;
    gap:15px;
}
#productCard{
    width:212px;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    background-color: white;
    padding: 5px;
}
#productCard img{
    width:210px;
    height:210px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#productCard div{
display: flex;
justify-content: space-between;
margin: auto;
text-align: center;
padding:5px;
margin-top: -10px;
}
#productCard button{
    width:80px;
    color:red;
    height:30px;
    margin-top: 10px;
}

