body{
      font-family: Arial, Helvetica, sans-serif;
      background-color: antiquewhite;
}

#navbar{
    display: flex;
    width:90%;
    height:auto;
    margin: auto;
    background-color: black;
    color:white;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 100px;

}
#navbar a{
    text-decoration: none;
    color:white;
}
#navbar h2{
  padding:20px;
}
#navbar h3{
    padding:20px;
  }
#signin{
    width:30%;
    display: flex;
    justify-content: space-between;
}
#add{
    width:55%;
    height: auto;
  border-radius: 5px;
    color:green;
    margin: auto;  
    margin-top: 20px;
    margin-bottom: 20px; 
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#add h1{
    padding:15px;
    text-align: center;
}




#form{
    width:90%;
    margin: auto;
    margin-bottom: 30px;
    padding:20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
#form div{
    
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    padding:10px;
    
}
#form input{
    margin: auto;
    width:250px;
    height:30px;
}
#form select{
    margin: auto;
    width:250px;
    height:30px;
}
#form label{
    width:150px;
    height:30px;
}
#addbut{
    margin: auto;
  height: 60px;
    width:250px;
    font-size: 30px;
    font-weight: 700;
    color:white;    
    background-color: rgb(84, 61, 19);
    border: rgb(84, 61, 19);
   border-radius: 5px;
}
#sort_filter{
    width:90%;
    display: flex;
    margin: auto;
    height: 100px;
}
#sort_but{
font-size: 30px;
}


#container{
    width: 90%;
    display: grid;
    grid-template-columns:repeat(5 ,1fr) ;
}